accelerate==1.7.0
aiohttp==3.11.18
anthropic==0.51.0
auto_gptq==0.7.1
causal_conv1d==1.5.0.post8
deepsparse==1.8.0
dill==0.3.8
einops==0.8.1
emoji==2.14.1
evaluate==0.4.3
filelock==3.18.0
flash_attn==2.7.4.post1
fugashi==1.4.0
gptqmodel==2.2.0
hf_transfer==0.1.9
huggingface_hub==0.31.1
immutabledict==4.2.1
Jinja2==3.1.6
jsonlines==4.0.0
langcodes==3.5.0
langdetect==1.0.9
lightning==2.5.1.post0
mamba_ssm==2.2.4
math_verify==0.7.0
more_itertools==10.7.0
nemo==7.1.4
neologdn==0.5.4
nltk==3.9.1
numpy==2.2.6
omegaconf==2.3.0
optimum==1.25.3
packaging==25.0
pandas==2.2.3
peft==0.15.2
promptsource==0.2.3
psutil==7.0.0
pycountry==24.6.1
pytablewriter==1.2.1
pytest==8.3.5
PyYAML==6.0.2
PyYAML==6.0.2
radgraph==0.1.17
ray==2.46.0
regex==2024.11.6
Requests==2.32.3
rouge_score==0.1.2
sacrebleu==2.5.1
sae_lens==5.10.2
safetensors==0.5.3
scikit_learn==1.6.1
scipy==1.15.3
setuptools==69.5.1
setuptools==80.4.0
sglang==0.4.6.post4
sparseml==1.8.0
sparsify==1.6.1
sqlitedict==2.1.0
sympy==1.14.0
tenacity==9.1.2
tokenizers==0.21.1
tomli==2.2.1
tomli_w==1.2.0
torch==2.7.0
torchao==0.11.0
torchdata==0.11.0
torchft==0.1.1
tqdm==4.66.4
tqdm==4.67.1
tqdm_multiprocess==0.0.11
transformer_lens==2.15.4
transformers==4.51.3
triton==3.3.0
vllm==0.8.5.post1
word2number==1.1
zeno_client==0.1.16
zstandard==0.22.0
# ... other dependencies ...
git+https://github.com/fla-org/native-sparse-attention.git#egg=native_sparse_attention
